<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBConnection"      value="Server=JAO-J006TX\SQL2012EX;Initial Catalog=ATL;user id=sa;pwd=sa123;Connection Timeout=600"/>
    
		<add key="MinTimeout"      value="300000"/>
		<add key="MaxTimeout"      value="300000"/>
		<add key="privateKey"	value="erp.prv" />
	</appSettings>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="7010" >
					<serverProviders>
						<provider type="BizRAD.Remoting.CustomServerSinkProvider, BizRAD.Remoting"
							customSinkType="BizRAD.Remoting.CompressionServerSink, BizRAD.Remoting" />
						<formatter type="BizRAD.Remoting.CustomBinaryServerFormatterSinkProvider, BizRAD.Remoting" />
					</serverProviders>
				</channel>
			</channels>
			<service>
				<wellknown type="BizRAD.DB.Service.StandardSQL, BizRAD.DB.Service" objectUri="StandardSQL" mode="Singleton" />
				<wellknown type="BizRAD.DB.Service.DataAccess, BizRAD.DB.Service" objectUri="DataAccess" mode="Singleton" />
				<wellknown type="BizRAD.DB.Service.SpecialSQL, BizRAD.DB.Service" objectUri="SpecialSQL" mode="Singleton" />
				<wellknown type="BizRAD.DB.Service.DataTransaction, BizRAD.DB.Service" objectUri="DataTransaction" mode="Singleton" />
			</service>
		</application>
	</system.runtime.remoting>
</configuration>