<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>

	<!--Release Instructions-->

	<!-- 1.  Set proper connectionStrings as 'PGConnectionString1' -->
	<!-- 2.  Set proper appSettings-->
	<!-- 3	 Set proper publishing location and Installation URL-->

	<!--Release Instructions-->
  
  <connectionStrings>
  <add name="DefaultConnectionString" connectionString="Data Source=192.168.1.21;Initial Catalog=ATL;Persist Security Info=True;User ID=sa;Password=sa123abc!@#" />
  <add name="SyBaseConnectionString" connectionString="Dsn=EPEDemo;Uid=EPEInterface;Pwd=EPEMaster;" />
  <add name="SyBaseConnectionStringLive" connectionString="Dsn=EPEATL32;Uid=TMSInterface;Pwd=TMSInterface123;" />
    <add name="SyBaseConnectionStringLive64" connectionString="Dsn=EPEATL;Uid=TMSInterface;Pwd=TMSInterface123;" />
  <add name="BizERP.Properties.Settings.PGConnectionString" connectionString="Data Source=192.168.1.100\SQL200R2EX;Initial Catalog=BizERP;Persist Security Info=True;User ID=sa;Password=sa123"
   providerName="System.Data.SqlClient" />
  <add name="BizERP.Properties.Settings.PGConnectionString1" connectionString="Data Source=PLUTUS\SQL2008R2;Initial Catalog=PG;User ID=sa;Password=sa123"
   providerName="System.Data.SqlClient" />
  <add name="BizERP.Properties.Settings.BizERPConnectionString"
   connectionString="Data Source=LOCALHOST\SQL2008R2EX;Initial Catalog=BizERP;User ID=sa;Password=sa123"
   providerName="System.Data.SqlClient" />
  <add name="BizERP.Properties.Settings.BizERPConnectionString1"
   connectionString="Data Source=192.168.1.62\SQL2008R2EX;Initial Catalog=BizERP;Persist Security Info=True;User ID=sa;Password=sa12345678"
   providerName="System.Data.SqlClient" />
  <add name="ATL.Properties.Settings.PGConnectionString" connectionString="Data Source=192.168.1.100\SQL200R2EX;Initial Catalog=BizERP;Persist Security Info=True;User ID=sa;Password=sa123"
   providerName="System.Data.SqlClient" />
  <add name="ATL.Properties.Settings.PGConnectionString1" connectionString="Data Source=PLUTUS\SQL2008R2;Initial Catalog=PG;User ID=sa;Password=sa123"
   providerName="System.Data.SqlClient" />
  <add name="ATL.Properties.Settings.BizERPConnectionString" connectionString="Data Source=LOCALHOST\SQL2008R2EX;Initial Catalog=BizERP;User ID=sa;Password=sa123"
   providerName="System.Data.SqlClient" />
  <add name="ATL.Properties.Settings.BizERPConnectionString1" connectionString="Data Source=192.168.1.62\SQL2008R2EX;Initial Catalog=BizERP;Persist Security Info=True;User ID=sa;Password=sa12345678"
   providerName="System.Data.SqlClient" />
  <add name="ATL.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=192.168.1.227\SQLEXPRESS;Password=sa123;User ID=sa;Initial Catalog=ATL"
   providerName="System.Data.OleDb" />
  <add name="ATL.Properties.Settings.ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=LOCALHOST;Persist Security Info=True;Password=sa123;User ID=sa;Initial Catalog=ATL"
   providerName="System.Data.OleDb" />
  <add name="ATL.Properties.Settings.ConnectionString2" connectionString="Provider=SQLOLEDB;Data Source=188.188.188.25\SQL2008R2;Password=sa123;User ID=sa;Initial Catalog=ATL"
   providerName="System.Data.OleDb" />
  <add name="ATL.Properties.Settings.ATLConnectionString" connectionString="Data Source=188.188.188.25\sql2008r2;Initial Catalog=ATL;Persist Security Info=True;User ID=sa;Password=sa123"
   providerName="System.Data.SqlClient" />
  <add name="ATL.Properties.Settings.ATLConnectionString1" connectionString="Data Source=192.168.1.227\sqlexpress;Initial Catalog=ATL;User ID=sa;Password=sa123"
   providerName="System.Data.SqlClient" />
  <add name="ATL.Properties.Setti2ngs.ConnectionString3" connectionString="Provider=SQLOLEDB;Data Source=192.168.1.21;Persist Security Info=True;Password=sa123abc!@#;User ID=sa;Initial Catalog=ATL"
   providerName="System.Data.OleDb" />
 </connectionStrings>
	<appSettings>

		<!--For Development: LIVE-->

    <add key="ResourceConfigPath"     value="..\..\..\BizMain\Resource\ResourceConfigFile\"/>
    <add key="ImagePath"           value="..\..\..\BizMain\Resource\Image\"/>
    <add key="LanguagePath"         value="..\..\..\BizMain\Resource\Language\"/>
    <add key="DefaultUIPath"        value="..\..\..\BizMain\DefaultUIFile\"/>
    <add key="DefaultInfoPath"      value="..\..\..\BizMain\DefaultInfoFile\"/>
    <add key="StartPath"           value="..\..\..\BizMain\Start\"/>
    <add key="ProjectPath"         value="..\..\..\BizMain\BizModules"/>
    <add key="publicKey" value="..\..\..\BizMain\Start\erp.pub" />

    <add key="POSID"    value="HQ"/>
    <add key="StandardSQLHost"      value="192.168.1.21"/>
    <add key="StandardSQLPort"      value="7007" />
    <add key="StandardSQLName"      value="StandardSQL"/>
    <add key="SpecialSQLHost"       value="192.168.1.21"/>
    <add key="SpecialSQLPort"       value="7007" />
    <add key="SpecialSQLName"       value="SpecialSQL"/>
    <add key="DataAccessHost"       value="192.168.1.21"/>
    <add key="DataAccessPort"       value="7007" />
    <add key="DataAccessName"       value="DataAccess"/>
    <add key="DataTransactionHost"       value="192.168.1.21"/>
    <add key="DataTransactionPort"       value="7007" />
    <add key="DataTransactionName"       value="DataTransaction"/>
    <add key="StandardSQLString"     value="tcp://192.168.1.21:7007/StandardSQL" />
    <add key="SpecialSQLString"        value="tcp://192.168.1.21:7007/SpecialSQL" />
    <add key="DataAccessString"       value="tcp://192.168.1.21:7007/DataAccess" />
    <add key="BizERPDocsRepository" value="\\192.168.1.11\$atl"/>
    <add key="EnableDocSave" value="false"/>
    <add key="EnableMiscDocSave" value="true"/>
    <add key="PendingPageLink" value="http://42.61.120.75/ci/pending"/>
    <add key="IsLiveEmail" value="true"/>
    <add key="isLiveSageLink" value="true"/>
    <add key="runtimeEnvironment" value="LIVE"/>

    <!--For Development: TEST-->

    <!--<add key="ResourceConfigPath"     value="..\..\..\BizMain\Resource\ResourceConfigFile\"/>
    <add key="ImagePath"           value="..\..\..\BizMain\Resource\Image\"/>
    <add key="LanguagePath"         value="..\..\..\BizMain\Resource\Language\"/>
    <add key="DefaultUIPath"        value="..\..\..\BizMain\DefaultUIFile\"/>
    <add key="DefaultInfoPath"      value="..\..\..\BizMain\DefaultInfoFile\"/>
    <add key="StartPath"           value="..\..\..\BizMain\Start\"/>
    <add key="ProjectPath"         value="..\..\..\BizMain\BizModules"/>
    <add key="publicKey" value="..\..\..\BizMain\Start\erp.pub" />

    <add key="POSID"    value="HQ"/>
    <add key="StandardSQLHost"      value="192.168.1.21"/>
    <add key="StandardSQLPort"      value="7008" />
    <add key="StandardSQLName"      value="StandardSQL"/>
    <add key="SpecialSQLHost"       value="192.168.1.21"/>
    <add key="SpecialSQLPort"       value="7008" />
    <add key="SpecialSQLName"       value="SpecialSQL"/>
    <add key="DataAccessHost"       value="192.168.1.21"/>
    <add key="DataAccessPort"       value="7008" />
    <add key="DataAccessName"       value="DataAccess"/>
    <add key="DataTransactionHost"       value="192.168.1.21"/>
    <add key="DataTransactionPort"       value="7008" />
    <add key="DataTransactionName"       value="DataTransaction"/>
    <add key="StandardSQLString"     value="tcp://192.168.1.21:7008/StandardSQL" />
    <add key="SpecialSQLString"        value="tcp://192.168.1.21:7008/SpecialSQL" />
    <add key="DataAccessString"       value="tcp://192.168.1.21:7008/DataAccess" />
    <add key="BizERPDocsRepository" value="\\192.168.1.11\$atl"/>
    <add key="EnableDocSave" value="false"/>
    <add key="EnableMiscDocSave" value="true"/>
    <add key="PendingPageLink" value="http://42.61.120.75/ci_dummy/pending"/>
    <add key="IsLiveEmail" value="false"/>
    <add key="isLiveSageLink" value="true"/>
    <add key="runtimeEnvironment" value="TEST"/>-->


    <!--For Development: TEST-->

    <!--<add key="ResourceConfigPath"     value="..\..\..\BizMain\Resource\ResourceConfigFile\"/>
    <add key="ImagePath"           value="..\..\..\BizMain\Resource\Image\"/>
    <add key="LanguagePath"         value="..\..\..\BizMain\Resource\Language\"/>
    <add key="DefaultUIPath"        value="..\..\..\BizMain\DefaultUIFile\"/>
    <add key="DefaultInfoPath"      value="..\..\..\BizMain\DefaultInfoFile\"/>
    <add key="StartPath"           value="..\..\..\BizMain\Start\"/>
    <add key="ProjectPath"         value="..\..\..\BizMain\BizModules"/>
    <add key="publicKey" value="..\..\..\BizMain\Start\erp.pub" />

    <add key="POSID"    value="HQ"/>
    <add key="StandardSQLHost"      value="192.168.1.21"/>
    <add key="StandardSQLPort"      value="7008" />
    <add key="StandardSQLName"      value="StandardSQL"/>
    <add key="SpecialSQLHost"       value="192.168.1.21"/>
    <add key="SpecialSQLPort"       value="7008" />
    <add key="SpecialSQLName"       value="SpecialSQL"/>
    <add key="DataAccessHost"       value="192.168.1.21"/>
    <add key="DataAccessPort"       value="7008" />
    <add key="DataAccessName"       value="DataAccess"/>
    <add key="DataTransactionHost"       value="192.168.1.21"/>
    <add key="DataTransactionPort"       value="7008" />
    <add key="DataTransactionName"       value="DataTransaction"/>
    <add key="StandardSQLString"     value="tcp://192.168.1.21:7008/StandardSQL" />
    <add key="SpecialSQLString"        value="tcp://192.168.1.21:7008/SpecialSQL" />
    <add key="DataAccessString"       value="tcp://192.168.1.21:7008/DataAccess" />
    <add key="BizERPDocsRepository" value="\\192.168.1.11\$atl"/>
    <add key="EnableDocSave" value="false"/>
    <add key="EnableMiscDocSave" value="true"/>
    <add key="PendingPageLink" value="http://42.61.120.75/ci/pending"/>
    <add key="IsLiveEmail" value="false"/>
    <add key="isLiveSageLink" value="true"/>
    <add key="runtimeEnvironment" value="TEST"/>-->



<!--For Publishing: Dummy-->

    <!--\\192.168.1.21\Deployment\Test64\
    http://192.168.1.21:7771/-->


    <!--\\192.168.1.21\Deployment\Test86\
    http://192.168.1.21:8881/-->

    <!--<add key="ResourceConfigPath" value="Resource\ResourceConfigFile\"/>
    <add key="ImagePath" value="Resource\Image\"/>
    <add key="LanguagePath" value="Resource\Language\"/>
    <add key="DefaultUIPath" value="DefaultUIFile\"/>
    <add key="DefaultInfoPath" value="DefaultInfoFile\"/>
    <add key="StartPath" value="Start\"/>
    <add key="ProjectPath" value="BizModules"/>
    <add key="publicKey" value="Start\erp.pub"/>
    <add key="DefaultTheme" value="Azure"/>


    <add key="POSID"    value="HQ"/>
    <add key="StandardSQLHost"      value="192.168.1.21"/>
    <add key="StandardSQLPort"      value="7008" />
    <add key="StandardSQLName"      value="StandardSQL"/>
    <add key="SpecialSQLHost"       value="192.168.1.21"/>
    <add key="SpecialSQLPort"       value="7008" />
    <add key="SpecialSQLName"       value="SpecialSQL"/>
    <add key="DataAccessHost"       value="192.168.1.21"/>
    <add key="DataAccessPort"       value="7008" />
    <add key="DataAccessName"       value="DataAccess"/>
    <add key="DataTransactionHost"       value="192.168.1.21"/>
    <add key="DataTransactionPort"       value="7008" />
    <add key="DataTransactionName"       value="DataTransaction"/>
    <add key="StandardSQLString"     value="tcp://192.168.1.21:7008/StandardSQL" />
    <add key="SpecialSQLString"        value="tcp://192.168.1.21:7008/SpecialSQL" />
    <add key="DataAccessString"       value="tcp://192.168.1.21:7008/DataAccess" />
    <add key="BizERPDocsRepository" value="\\192.168.1.11\$atl"/>
    <add key="EnableDocSave" value="false"/>
    <add key="EnableMiscDocSave" value="true"/>
    <add key="PendingPageLink" value="http://42.61.120.75/ci/pending"/>
    <add key="IsLiveEmail" value="false"/>
    <add key="isLiveSageLink" value="true"/>
    <add key="runtimeEnvironment" value="TEST"/>-->

    <!--For Publishing: Dummy-->


    
    
    
    <!-- For Publishing: LIVE-->

    <!--LiveSageLink:Port:2638-->


    <!--\\192.168.1.21\Deployment\86\-->
    <!--http://192.168.1.21:8888/-->
    <!---->
    <!--\\192.168.1.21\Deployment\64\-->
    <!--http://192.168.1.21:7777/-->
     

    <!--<add key="ResourceConfigPath" value="Resource\ResourceConfigFile\"/>
    <add key="ImagePath" value="Resource\Image\"/>
    <add key="LanguagePath" value="Resource\Language\"/>
    <add key="DefaultUIPath" value="DefaultUIFile\"/>
    <add key="DefaultInfoPath" value="DefaultInfoFile\"/>
    <add key="StartPath" value="Start\"/>
    <add key="ProjectPath" value="BizModules"/>
    <add key="publicKey" value="Start\erp.pub"/>
    <add key="DefaultTheme" value="Azure"/>

    <add key="POSID"    value="HQ"/>
    <add key="StandardSQLHost"      value="192.168.1.21"/>
    <add key="StandardSQLPort"      value="7007" />
    <add key="StandardSQLName"      value="StandardSQL"/>
    <add key="SpecialSQLHost"       value="192.168.1.21"/>
    <add key="SpecialSQLPort"       value="7007" />
    <add key="SpecialSQLName"       value="SpecialSQL"/>
    <add key="DataAccessHost"       value="192.168.1.21"/>
    <add key="DataAccessPort"       value="7007" />
    <add key="DataAccessName"       value="DataAccess"/>
    <add key="DataTransactionHost"       value="192.168.1.21"/>
    <add key="DataTransactionPort"       value="7007" />
    <add key="DataTransactionName"       value="DataTransaction"/>
    <add key="StandardSQLString"     value="tcp://192.168.1.21:7007/StandardSQL" />
    <add key="SpecialSQLString"        value="tcp://192.168.1.21:7007/SpecialSQL" />
    <add key="DataAccessString"       value="tcp://192.168.1.21:7007/DataAccess" />
    <add key="BizERPDocsRepository" value="\\192.168.1.11\$atl"/>
    <add key="EnableDocSave" value="false"/>
    <add key="EnableMiscDocSave" value="true"/>
    <add key="PendingPageLink" value="http://42.61.120.75/ci/pending"/>
    <add key="IsLiveEmail" value="true"/>
    <add key="isLiveSageLink" value="true"/>
    <add key="runtimeEnvironment" value="LIVE"/>-->


    <!-- For Publishing: LIVE-->


		<add key="AutoDefault" value="true"/>
		<add key="ServerTime" value="192.168.1.62"/>
		<add key="NetworkDrive" value="K"/>
		  
    <add key="ServerUserName" value="Administrator"/>
		<add key="ServerPassWord" value="0pen$eS@me5e(re+"/>
		<add key="EnableSaveRosterConflicts" value="false"/>
    
		

		<!-- Login.cs -->
		<add key="ProjectLoginText" value="BizERP"/>
		<add key="LoginImageFile" value=""/>
		<!-- System Variables-->
		<add key="PrintingImageFile" value="logo.jpg"/>
	</appSettings>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp">
					<clientProviders>
						<formatter type="BizRAD.Remoting.CustomBinaryClientFormatterSinkProvider, BizRAD.Remoting"/>
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
